@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-CeraRoundProNormal text-sm;
}

a:hover {
  @apply text-secondary;
}

h1 {
  @apply md:text-5xl text-3xl font-SatoshiBlack leading-[120%];
}

h2 {
  @apply md:text-3xl text-xl font-SatoshiBlack;
}

h3 {
  @apply text-2xl font-SatoshiNormal text-secondary;
}
h4 {
  @apply text-xl font-SatoshiNormal;
}

p {
  @apply font-CeraRoundProNormal text-sm leading-5 text-textPrimary opacity-90;
}

.hero-bg {
  background: url("/assets/hero-bg.png") top left/94px 153.41px no-repeat;
}

.play-button {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.03));
}

.careers-intro {
  @apply absolute translate-y-[-50%] top-1/2 left-1/2 text-white;
  transform: translate(-50%, -50%);
}

.fore-ground::before {
  position: absolute;
  height: 35%;
  background-color: #fff;
  content: "";
  width: 100%;
}
